.header {
    width: 100%;
    height: 50px;
}
.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:15px;
}
.header-menu_item{
    margin-right: 20px;
    list-style: none;
    font-size: 13px;
}
.header-menu_item-link {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.header-menu_item-link:hover {
    text-decoration: underline;
}
.header-user-img {
    width: 33px;
    border-radius: 50px;
    margin-right: 15px;
}
.header-menu-img {
    width: 20px;
}